In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

#Cria um controlador de navegador Chrome

navegador = webdriver.Chrome()
navegador.get('https://www.google.com')       # abre navegador

#cotacao dolar 

# Seleciona o campo de pesquisa do google e digita pesquisa
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input' ).send_keys('Cotação Dolar')


# Aperta enter 
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input' ).send_keys(Keys.ENTER)

# Obtem valor da moeda 
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')


#Cotação Euro

navegador.get('https://www.google.com')

navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input' ).send_keys('Cotação Euro')

navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input' ).send_keys(Keys.ENTER)
                                                                                                        
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')


#cotacao do ouro

navegador.get('https://www.melhorcambio.com/ouro-hoje')                                                                                                      
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')

# Reformata o resultado
cotacao_ouro = cotacao_ouro.replace(',', '.')

#Mostra o resultado da conversão de valores 
print(cotacao_ouro, cotacao_euro, cotacao_dolar)

navegador.quit()                 # Fecha navegador

In [1]:
import pandas as pd 

tabela = pd.read_excel('Produtos.xlsx')


display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [ ]:
#Localiza as colunas de moedas e atualiza as cotações de acordo com os valores encontrados no google

tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)



tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']  #atualiza preço de compra

tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']   #atualiza preço de venda

#Mostra tabela 
display(tabela)

In [ ]:
#Cria tabela com valores atualizados 
tabela.to_excel('Produtos Novos.xlsx', index=False)